<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../layouts/head') %>
</head>
<body style="background: #D2E2F2;">
    <%- include('../layouts/header') %>
    <% if (erro != '') { %>
        <div class="d-flex justify-content-center">
            <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show mt-4 position-absolute"
                role="alert" style="width: 28%; margin-left: 16%; font-size: larger;">
                <svg class="bi flex-shrink-0 me-2" role="img" viewBox="0 0 16 16" width="18" height="18"
                    fill="currentColor" aria-label="Danger:">
                    <path
                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                <div>
                    <%= erro %>
                        <div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                        </div>
                </div>
            </div>
        </div>
        <% } %>
        <% if (sucesso != '') { %>
            <div class="d-flex justify-content-center">
                <div class="alert alert-success d-flex align-items-center alert-dismissible fade show mt-4 position-absolute" role="alert" style="width: 28%; margin-left: 16%; font-size: larger;">
                    <svg class="bi flex-shrink-0 me-2" role="img" viewBox="0 0 16 16" width="18" height="18" fill="currentColor" aria-label="Success:">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                    <div>
                        <%= sucesso %> 
                        <div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
</div>
    <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="\images\index\seniorfitlogo3.png"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form method="POST" action="<%= treinos.id_treino %>" enctype="multipart/form-data"> 
                <div class="form-outline mb-3" style="border-radius: 4px; padding: 10px; font-size: 18px;">
                    <h2 style="margin-top: 5%;">Cadastre um novo exercício para o treino "<%= treinos.nome_treino %>"!</h2>
                    <label class="form-label" for="form3Example4" style="font-size: 20px; margin-top: 5%;">Nome do exercício</label>
                    <input required type="text" id="form3Example4"  name="nome" class="form-control form-control-lg"
                      placeholder="Nome do treino!" style="font-size: 20px; height: 50px;" />
                  </div>
                <div class="form-outline mb-3" style="border-radius: 4px; padding: 10px; font-size: 18px;">
                    <label class="form-label" for="form3Example3" style="font-size: 20px;">Vídeo exemplificando a forma de execução do exercício<br> (OBS: dê preferência para vídeos na vertical.)</label>
                    <input required type="file" accept=".mp4, .wmv" name="video" id="form3Example3" class="form-control form-control-lg"
                      placeholder="Parte do corpo trabalhada no treino!" style="font-size: 20px; height: 50px;" />
                  </div>
                  <div class="form-outline mb-3" style="border-radius: 4px; padding: 10px; font-size: 18px;">
                    <label class="form-label" for="form3Example3" style="font-size: 20px;">Séries</label>
                    <input required type="number" name="series" id="form3Example3" class="form-control form-control-lg"
                      placeholder="Quantidade de séries fazendo o exercício!" style="font-size: 20px; height: 50px;" />
                  </div>
                  <div class="form-outline mb-3" style="border-radius: 4px; padding: 10px; font-size: 18px;">
                    <label class="form-label" for="form3Example3" style="font-size: 20px;">Repetições</label>
                    <input type="number" name="repet" id="form3Example3" class="form-control form-control-lg"
                      placeholder="Quantidade de repetições fazendo o exercício!" style="font-size: 20px; height: 50px;" />
                  </div>
                  <div class="form-outline mb-3" style="border-radius: 4px; padding: 10px; font-size: 18px;">
                    <label class="form-label" for="form3Example3" style="font-size: 20px;">Tempo</label>
                    <input type="time" name="tempo" id="form3Example3" class="form-control form-control-lg"
                      placeholder="Tempo realizando a série!" style="font-size: 20px; height: 50px;" />
                  </div>
                  <div class="form-outline mb-3" style="border-radius: 4px; padding: 10px; font-size: 18px;">
                    <label class="form-label" for="form3Example3" style="font-size: 20px;">Carga</label>
                    <input type="text" name="carga" id="form3Example3" class="form-control form-control-lg"
                      placeholder="Carga utilizada no exercício!" style="font-size: 20px; height: 50px;" />
                  </div>
                  <div class="form-outline mb-3" style="border-radius: 4px; padding: 10px; font-size: 18px;">
                    <label class="form-label" for="form3Example3" style="font-size: 20px;">Intervalo</label>
                    <input required type="text" name="intervalo" id="form3Example3" class="form-control form-control-lg"
                      placeholder="Tempo de intervalo entre as séries!" style="font-size: 20px; height: 50px;" />
                  </div>
                  <div class="form-outline mb-3" style="border-radius: 4px; padding: 10px; font-size: 18px;">
                    <label class="form-label" for="form3Example3" style="font-size: 20px;">Dica de Segurança</label>
                    <input required type="text" name="dica" id="form3Example3" class="form-control form-control-lg"
                      placeholder="Dica de segurança na execução do exercício" style="font-size: 20px; height: 50px;" />
                  </div>
                  
                  
      
                <div class="d-flex justify-content-between align-items-center">
                 
                <div class="text-center text-lg-start mt-4 pt-2 container">
                  <button type="submit" class="btn btn-primary btn-lg custom-btn4"
                    style="padding-left: 2.5rem; padding-right: 2.5rem; font-size: 20px;">Cadastrar treino</button>
                    <div style="margin-top: 5%;">
                  <p class="small fw-bold mt-2 pt-1 mb-0" style="font-size: 20px;">Quer gerenciar seus alunos? <a href="/personal/visualizar"
                      class="link-primary" style="font-size: 20px;">Clique aqui!</a></p></div>
                </div>
      
              </form>
            </div>
          </div>
        </div>
      </section>
</body>


</html>